<!DOCTYPE html>
<html>

<head>
    <title>Add Covid19 Information</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: DodgerBlue">Covid19 Database</h1>

        <body bgcolor="lightgrey">

            <form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">

                <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET COVID INFORMATION</button><br><br> State_Name:

                <br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="State_Name" autofocus size="40"><br><br> Date_of_Record:
                <br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="Date_of_Record"><br><br> No_of_Samples:

                <br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="No_of_samples"><br><br> No_of_Deaths:

                <br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="No_of_Deaths"><br><br> No_of_Positive:

                <br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="No_of_Positive"><br><br> No_of_Negative: <br><input type=number name="No_of_Negative" style="height:25px;font-size:14pt;color:grey;"> <br><br> No_of_Discharge:
                <br><input type=number name="No_of_Discharge" style="height:25px;font-size:14pt;color:grey;"> <br><br>

                <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

            </form>
            <a href="/about">About Us</a>
        </body>

    </font>
</center>

</html>